{% extends "layout.html" %}
{% block body %}
<div class="card-deck mb-3 text-center">
    <div class="card box-shadow">
        <div class="card-body">
            <i class="fa-solid fa-spell-check text-muted" style="font-size: 6rem;"></i>
            <h1 class="text-title pt-2">Realizar test</h1>
            <a href="{{ url_for('test') }}" class="btn btn-primary btn-block">
                <i class="fa-solid  fa-paper-plane mr-2"></i>
                Ingresar
            </a>
        </div>
    </div>
    <div class="card box-shadow">
        <div class="card-body">
            <i class="fa-solid fa-flask-vial text-muted" style="font-size: 6rem;"></i>
            <h1 class="text-title pt-2">Administración de enfermedades</h1>
            <a href="{{ url_for('diseases') }}" class="btn btn-primary btn-block">
                <i class="fa-solid  fa-paper-plane mr-2"></i>
                Ingresar
            </a>
        </div>
    </div>
    <div class="card box-shadow">
        <div class="card-body">
            <i class="fa-solid fa-vial-virus text-muted" style="font-size: 6rem;"></i>
            <h1 class="text-title pt-2">Administración de sintomas</h1>
            <a href="{{ url_for('symptoms') }}" class="btn btn-primary btn-block">
                <i class="fa-solid  fa-paper-plane mr-2"></i>
                Ingresar
            </a>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Home</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab" tabindex="-1">ADMINISTRACIÓN ENFERMEDADES</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="#" aria-selected="false" tabindex="-1" role="tab">ADMINISTRACIÓN SINTOMAS</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="home" role="tabpanel">
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel">
              <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
            </div>
          </div>
    </div>
    <div class="col-md-6">

        <div class="card card-body">
            <h5 class="card-title text-md">Filtro de busqueda</h5>
            <form action="{{url_for('search')}}" method="POST">
                <div class="form-group">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Numero de lados.
                    </small>
                    <select name="lado" class="form-control">
                        <option selected value="_">Sin lados</option>
                        <option value="3">3-Lados</option>
                        <option value="4">4-Lados</option>
                        <option value="5">5-Lados</option>
                    </select>
                </div>
                <div class="form-group">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Tiene radio.
                    </small>
                    <select name="radio" class="form-control">
                        <option selected value="_">No</option>
                        <option value="si">SI</option>
                    </select>
                </div>
                <div class="form-group">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Tiene angulos rectos.
                    </small>
                    <select name="angulo_recto" class="form-control">
                        <option selected value="_">No</option>
                        <option value="si">SI</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-block">
                    <i class="fa-solid fa-magnifying-glass mr-2"></i>
                    Consultar
                </button>
                <a class="btn btn-secondary btn-block" href="{{ url_for('reset') }}"><i class="fa-solid fa-magnifying-glass mr-2"></i>Resetear</a>

            </form>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="bs-component">
            <div class="alert alert-dismissible alert-primary">
                <i class="fa-solid fa-check-to-slot mr-2"></i>
                Resultado de la busqueda.
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="card border-info mb-3">
            <div class="card-body text-center">
                <p class="bs-component">La figura geométrica es:</p>
                <h4 class="card-title uppercase text-info">{{ message }}</h4>
            </div>
        </div>
        {% endfor %}
        {% else%}
        <div class="card border-info mb-3">
            <div class="card-body text-center">
                <p class="bs-component">Realice una busqueda para visualizar los datos.</p>
                <i style="font-size: 5rem;" class="fa-solid fa-database text-secondary"></i>
            </div>
        </div>
        {% endif %}
        {% endwith %}

    </div>
</div> -->

{% endblock %}