{% extends "layout.html" %}
{% block body %}
<div class="row flex-nowrap justify-content-between align-items-center py-2 pb-4">
    <div class="col-4 pt-1">
        <a class="text-muted" href="#"></a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
        <a href="{{ url_for('Index') }}" class="btn btn-outline-info btn-block">
            <i class="fa-solid fa-arrow-left mr-2"></i>
            Regresar
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {% if data %}
        <div class="card card-body">
            <form action="{{url_for('test')}}" method="POST">
                <button type="submit" class="btn btn-info btn-block">
                    Diagnosticar
                </button>
                <legend style="font-size: 1rem;" class="text-info">Sintomas que padese</legend>
                <fieldset class="form-group">
                    {% for contact in data %}
                    <tr>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="frutas[]" value="{{contact[0]}}">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{contact[1]}}
                            </label>
                        </div>
                    </tr>
                    {% endfor %}
                </fieldset>

            </form>
        </div>
        {% else%}
        <div class="card border-info mb-3">
            <div class="card-body text-center">
                <p class="bs-component" style="font-size: 18px;">Ingrese la base de las enfermedades, sintomas y
                    tratamiento para realizar el test diagnostico.</p>
                <i style="font-size: 5rem;" class="fa-solid fa-database text-secondary"></i>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="col-lg-6">
        <div class="bs-component">
            <div class="alert alert-dismissible alert-primary">
                <i class="fa-solid fa-check-to-slot mr-2"></i>
                Resultado de la consulta.
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category,message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% if category == "info" %}
        {% if message[1] %}
        <div class="my-3 p-3 card rounded box-shadow  border-primary">
            <h6 class="border-bottom border-gray pb-2 mb-0">Usted puede padecer de estas enfermedades:</h6>
            {% for contact in message %}
            <div class="media text-muted py-1">
                <i class="fa-solid fa-heart-circle-check mr-2 rounded p-2 text-white bg-info"></i>
                <p class="media-body mb-0 small lh-125 border-bottom border-gray" style="text-align: justify;">
                    <strong class="d-block text-info uppercase" style="font-weight: bold; font-size: 13px;">{{contact[0]}}</strong>
                    <span class="text-muted " ><strong>Tratamiento: </strong>{{contact[1]}}</span>

                </p>
            </div>
            {% endfor %}
        {% else%}
        <div class="card border-info mb-3">
            <div class="card-body text-center">
                <p class="bs-component">USTED PADECE DE: <span class="text-info" style="font-size: 16px; font-weight: bold;">{{ message[0][0] }}</span></p>
                <h4 class="card-title" style="font-size: 15px; text-align: justify;">Tratamiento: <span class="text-muted" style="font-weight: normal;">{{ message[0][1] }}</span></h4>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>
</div>

{% endblock %}